*{
    margin: 0;
    padding: 0;

}
.header{
    align-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
    background-color: rgb(250, 254, 255);
    color: rgb(240, 180, 14);
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;

}
.toolbox{
    display: flex;
    flex-direction: row;
}
.symbol{
    padding-top: 14px;
    transition: transform .2s;
}

.icon{
    padding-top: 9px;

}
.symbol1{
    display: none;
    padding-top: 14px;
    transition: transform .2s;
}
.symbol:hover{
    transform: scale(1.5);
}
.sub-section{
    background-color: rgb(255, 255, 255);
    height: 800px;
    padding: 50px;
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(7, 5, 5);
    display: flex;
    flex-direction: row;
}


.to-do-list{
    align-content: center;
    margin: 10px;
    text-align: center;
    margin-left: 400px;
    width: 220px;
    height: 40px;
    margin: 15px;
    border: 3px;
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 1px;
    background-color: rgb(21, 168, 226);
    color: rgb(255, 251, 251);
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    transition: transform .2s;
    transition: background-color; 
    
}


.to-do-list:hover{
    background-color: rgb(134, 138, 130);
    transform: scale(1.05);
    

}
.to-do-list1:hover{
    background-color: rgb(134, 138, 130);
    transform: scale(1.05);
    

}

.toolbox1{
    display: flex;
    flex-direction: row;
    display: none;
}
.toolbox2{
    display: flex;
    
    display: none;
}

.to-do-list1{
    align-content: center;
    margin: 10px;
    text-align: center;
    margin-left: 443px;
    width: 220px;
    height: 40px;
    margin: 15px;
    border: 3px;
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 1px;
    background-color: rgb(230, 21, 21);
    color: rgb(255, 251, 251);
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    transition: transform .2s;
    transition: background-color; 
}

.tb{
    display: flex;
    flex-direction: column;
}
